RewriteEngine On

# Verificar si la solicitud no es para un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f
# Verificar si la solicitud no es para un directorio existente
RewriteCond %{REQUEST_FILENAME} !-d
# Redirigir a index.php con la variable "url" como el segmento de la URL
RewriteRule ^(.+?)/?$ index.php?url=$1 [L,QSA]

# No es necesario la extensión .php cuando se ingrese en la URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# No es necesario la extensión .html cuando se ingrese en la URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
